.orderPage {
    width: 75%
}
.orderTableRow {
    border-bottom: 1px solid black;
}
.deleteButton {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: red;
}
.processButton {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: black;
}
.detailsButton {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: rgb(22, 164, 234);
}