<div class="container">
    <div class="card mx-auto" style="flex-grow: 2">
        <div class="card-header text-center">
            <p class="fw-bolder">Profile</p>
        </div>
        <div class="card-body text-center">
            
            <div class="row">
                <div class="col-sm">
                    <p class="fw-normal">First Name</p>
                    <p class="fw-bold">{{testUser.firstName}}</p>
                </div>
                <div class="col-sm">
                    <p class="fw-normal">Last Name</p>
                    <p class="fw-bold">{{testUser.lastName}}</p>
                </div>
            </div>
            <div class="row">
                <p class="fw-normal">Email</p>
                <p class="fw-bold">{{testUser.email}}</p>
            </div>
            <div class="row">
                <p class="fw-normal">Phone</p>
                <p class="fw-bold">{{testUser.phone}}</p>
            </div>
            <div class="row">
                <p class="fw-normal">Interests</p>
                <p class="fw-bold">{{testUser.interests}}</p>
            </div>
            <div *ngIf="!editAddress" class="row"> 
                <div class="col-sm">
                    <p class="fw-normal">Address</p>
                    <p class="fw-bold">{{testUser.address}}</p>
                    <!-- <div *ngFor="let addressDetail of testUser.address">
                        <p class="fw-bold" style="display:inline-block;">{{addressDetail}}, </p>
                    </div> -->
                </div>
                <div class="col-sm">
                    <button class="btn btn-primary" (click)="editAddress = true">Edit</button>
                </div>   
            </div>
            <div *ngIf="editAddress" class="row"> 
                <form #myForm="ngForm" (ngSubmit)="submitMyData(myForm.value)"> 
                <!-- <form>  -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Street Address</label>
                        <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Street Address" name="streetAddress" ngModel>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="City" name="city" ngModel>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">State</label>
                        <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="State" name="state"ngModel>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Zip Code</label>
                        <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Zip Code" name="zipCode" ngModel>
                        </div>
                    </div>
                    <button class="btn btn-danger" (click)="editAddress = false" type="submit">Save Address Test</button>
                </form>
                
            </div>                
            <!-- <form> 
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email Address</label>
                    <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="defaultCheck1">Remember Me<input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></label>
                    </div> 
                </div>
                <button routerLinkActive routerLink="../home" type="submit" class="btn btn-primary" (click)="changeLogInStatus();">Login</button>
                <a routerLinkActive  routerLink="../forgotpassword" class="link-primary">Forgot Your Password?</a>
            </form> -->
        </div> 
    </div>
</div> 
